.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.topBanner {
    width: 100%;
    padding: 30px 0;
    background: #e2e9e8;
}

.topBanner .inner {
    position: relative;
}

.topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.topBanner p {
    font-size: 15px;
    font-weight: 300;   
}

.topBanner a {
    margin: 0 0 0 30px;
    padding: 8px 18px;
    background: #fff;
    color: #333;
    font-size: 13px;
}

.topBanner i {
    position: absolute;
    inset: 0 0 auto auto;
    font-size: 21px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}




#header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

#header .container {
    justify-content: space-between;
}

#header h1 {
    width: 150px;
}

#header nav>ul {
    display: flex;
}

#header nav>ul>li>a {
    display: inline-block;
    padding: 0 15px;
    font-size: 17px; 
}

#header nav>ul>li~li::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    background: #ddd;
}

#searchForm input[type="text"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    color: #70a2d6;
}

#searchForm input[type="text"]::placeholder {
    color: #ddd;
}

#searchForm input[type="text"]:focus::placeholder {
    opacity: 0;
}

#searchForm button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 21px;
}




.mainVisual .mainSlider figure {
    position: relative;
    height: 600px;
}

.mainVisual .mainSlider .itm01 {
    background: url(../img/laneige_main01.png) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm02 {
    background: url(../img/laneige_main02.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .itm03 {
    background: url(../img/laneige_main03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlider .inner {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%,-50%);
}

.mainVisual .mainSlider .inner h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.mainVisual .mainSlider .inner p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0 0 40px 0;
}

.mainVisual .mainSlider .inner a {
    display: inline-block;
    padding: 8px 30px 10px;
    background: #fff;
}