* {
    outline: 1px solid #f00;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

#header {
    width: 100%;
}

#header .header_top {
    border-bottom: 1px solid #f1f1f1;
}

#header .header_top .container {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    width: 1200px;
    margin: 0 auto;
}

#header .header_top ul {
    display: flex;
    gap: 20px;
}

#header .header_top ul>li {
    font-size: 40px;
}

.header_fix {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.header_bottom {
    line-height: 80px;
    width: 1200px;
    margin: 0 auto;
}

.header_bottom>ul {
    display: flex;
    justify-content: space-between;
}

.header_bottom>ul>li {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 700;
}





/* 검색 박스 */

.searchBox {
    width: 100%;
    display: none;
}

.searchBox.on {
    display: block;
}

#searchForm {
    text-align: center;
    margin: 0 0 20px 0;
}

#searchForm input[type="text"] {
    border: none;
    border-bottom: 2px solid #333;
    padding: 0 0 5px 0;
    background: transparent;
    text-align: center;
}

#searchForm input[type="text"]::placeholder {
    color: #999;
}

#searchForm input[type="text"]:focus::placeholder {
    opacity: 0;
}

#searchForm button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}





.main_slider figure {
    position: relative;
    width: 1200px;
}

.main_slider .slide_title {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.main_slider .slide_title b {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.main_slider .slide_title p {
    font-size: 14px;
    font-weight: 300;
}

.main_slider .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.main_slider .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    margin: 0 10px;
    cursor: pointer;
}

.main_slider .slick-dots li.slick-active {
    background: #dfddd0;
}

.main_slider .slick-dots button {
    display: none;
}





.new_arrival {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 100px 0;
}

.new_arrival .new_slide {
    width: 60%;
}

.new_arrival .new_slide figure {
    padding-left: 30px;
}

.new_arrival .new_slide figure:hover img {
    animation: newhover 1s;
}

@keyframes newhover {
    0% {
        transform: rotate(0);
    }

    30% {
        transform: rotate(-15deg);
    }

    70% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.new_arrival .new_right {
    width: 40%;
}

.new_arrival .new_title {
    position: relative;
    width: 405px;
    height: 100%;
    text-align: center;
}

.new_arrival .new_title h2 {
    margin: 50px 0 30px 0;
}

.new_arrival .new_title b {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
}

.new_arrival .new_title p {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.new_arrival .new_title em {
    font-size: 16px;
    font-weight: 700;
    color: #f00;
}

.new_arrival .new_arrows i {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #ddd;
    cursor: pointer;
}

.new_arrival .new_arrows i:hover {
    color: #333;
}

.new_arrival .new_arrows i:nth-child(1) {
    margin: 0 0 0 -30px;
}

.new_arrival .new_arrows i:nth-child(2) {
    margin: 0 0 0 30px;
}



.new_brand {
    padding: 0 0 100px 0;
}

.new_brand .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.new_brand .brand_left {
    flex: 4;
    text-align: center;
    margin: auto 0;
}

.new_brand .brand_left h2 {
    margin: 0 0 30px 0;
}

.new_brand .brand_left b {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 15px;
}

.new_brand .brand_left p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 60px;
}

.new_brand .brand_left a {
    padding: 3px 20px 5px;
    color: #333;
    border: 1px solid #333;
    font-size: 14px;
}

.new_brand .brand_left a:hover {
    color: #fff;
    background: #333;
}

.new_brand .brand_right {
    flex: 6;
}

.new_brand .brand_right a:hover img {
    filter: grayscale(0.5);
}

.new_brand .brand_right img {
    border-radius: 30px;
}







.best_seller {
    padding: 100px 0;
    background: #f6f6f8;
}

.best_seller h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

.best_seller .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.best_seller .best_left {
    flex: 3;
}

.best_seller .best_left .left_top {
    display: flex;
    gap: 20px;
    margin: 0 0 20px 0;
}

.best_seller .best_left .left_bottom {
    gap: 20px;
    display: flex;
}

.best_seller .best_left .left_tap>li {
    display: none;
}

.best_seller .best_left .left_tap>li.on {
    display: block;
}

.best_seller .best_right {
    flex: 1;
    text-align: right;
    font-family: 'Kanit', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #ddd;
    margin: auto 0;
}

.best_seller .best_right ul>li {
    margin: 0 0 20px 0;
}

.best_seller .best_right ul>li>a {
    margin: 0 5px 0 0;
}

.best_seller .best_right ul>li~li::before {
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    background: #dbdbdb;
    margin: 0 0 20px auto;
}

.best_seller .best_right ul>li.on a {
    color: #333;
}

.best_seller .best_left ul>li figure {
    position: relative;
    overflow: hidden;
}

.best_seller .best_left ul>li figure:hover img {
    transform: scale(1.2);
    transition: 0.5s;
}

/* 베스트셀러 hover시 text 효과 */

.left_tap .hidden_text {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    color: #fff;
    line-height: 1.5;
}

.left_tap .hidden_text p {
    padding: 120px 0 0 0;
    font-size: 14px;
    font-weight: 300;
}

.left_tap .hidden_text span {
    font-size: 12px;
    font-weight: 700;
}

.best_left ul>li figure:hover .hidden_text {
    display: block;
}




.object_ex {
    padding: 100px 0;
}

.object_ex h2 {
    text-align: center;
    margin: 0 0 30px 0;
}

.object_ex .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

.object_ex .ex_img:nth-child(2) {
    text-align: right;
}

.object_ex .ex_img {
    flex: 1;
}

.object_ex .ex_img img {
    border-radius: 250px 250px 0 0;
}

.object_ex .ex_title {
    position: relative;
    flex: 1;
    text-align: center;
    margin: auto 0;
}

.object_ex .ex_title img {
    width: 400px;
    margin: 0 0 60px 0;
}

.object_ex .ex_title h3 {
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px 0;
}

.object_ex .ex_title .h3_nth3 {
    font-family: 'Noto Sans KR';
}

.object_ex .ex_title p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.object_ex .ex_title em {
    font-size: 12px;
    font-weight: 500;
    color: #f00;
}

.object_ex .ex_title:nth-child(2) .ex_bg {
    position: absolute;
    top: 280px;
    left: 300px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #cce7c4;
    opacity: 0.3;
    border-radius: 50%;
    z-index: -1;
}

.object_ex .ex_title:nth-child(1) .ex_bg {
    position: absolute;
    top: 280px;
    left: 80px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #f9f3c8;
    opacity: 0.3;
    border-radius: 50%;
    z-index: -1;
}



.main_fixed {
    background: url(../img/banner.jpg) no-repeat fixed left center/cover;
    height: 300px;
}

.main_fixed .container {
    width: 1200px;
    margin: 0 auto;
}

.main_fixed p {
    font-size: 18px;
    text-align: right;
    padding-top: 118px;
    margin: 0 0 10px 0;
}

.main_fixed h3 {
    text-align: right;
    font-size: 36px;
    font-weight: 700;
}



.object_store {
    padding: 100px 0;
}

.object_store .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.object_store .store_title {
    flex: 1;
    text-align: center;
}

.object_store .store_title h2 {
    margin: 0 0 30px 0;
}

.object_store .store_title ul>li {
    padding: 8px 0;
}

.object_store .store_map {
    position: relative;
    flex: 1;
}

.object_store .store_map h3 {
    position: absolute;
    bottom: 0;
    right: -30px;
    font-family: 'Kanit', sans-serif;
    font-size: 144px;
    font-weight: 600;
    color: #9dbad1;
    writing-mode: vertical-rl;
    z-index: -1;
}

.store_list ul>li~li a::before {
    content: "";
    display: block;
    width: 280px;
    height: 1px;
    background: #dbdbdb;
    margin: 0 auto 13px auto;
}

.store_list ul>li ul>li {
    font-size: 14px;
}

.store_list ul>li ul>li:nth-child(1) {
    font-weight: 600;
}

.store_list>ul>li .store_info {
    display: none;
}

.store_list>ul>li .store_info.on {
    display: block;
}



#footer {
    background: #333;
    color: #fff;
}

#footer .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

#footer .ft_top {
    border-bottom: 1px solid #444;
    line-height: 70px;
}

#footer .ft_top .container {
    justify-content: space-between;
}

#footer .ft_top dl img {
    width: 80px;
    margin: 0 40px 0 0;
}

#footer .ft_top dl {
    display: flex;
    gap: 30px;
    font-size: 14px;
}

#footer .ft_top dl>dt {
    font-weight: 600;
}

#footer .ft_top .sns {
    font-size: 30px;
}



#footer .ft_bottom {
    padding: 30px 0;
}

#footer .ft_bottom .container {
    justify-content: space-between;
}

.ft_bottom .ft_left span {
    display: block;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    margin: 0 0 10px 0;
}

.ft_bottom .ft_left em {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px 0;
    line-height: 1.2;
}

.ft_bottom .ft_left h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.ft_bottom .ft_left b {
    font-size: 12px;
}

.ft_bottom .ft_left p {
    font-size: 11px;
    font-weight: 200;
    margin: 5px 0 10px 0;
}

.ft_bottom .ft_left h5 {
    font-size: 12px;
    font-weight: 700;
    padding-top: 10px;
}


#footer .ft_bottom .ft_right {
    display: flex;
    gap: 50px;
}

.ft_bottom .ft_right dl>dt {
    font-size: 13px;
    font-weight: 700;
}

.ft_bottom .ft_right dl>dd {
    font-size: 12px;
    font-weight: 300;
    padding: 10px 0 0 0;
}