* { outline: 1px solid #f00; }

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}



#header {
    line-height: 100px;
}

#header .container {
    justify-content: space-between;
}

#header h1 {
    width: 80px;
}

#header nav>ul {
    display: flex;
    gap: 40px;
    font-family: 'Bowlby One', cursive;
    font-size: 24px;
}

#header .mbtn {
    width: 80px;
    text-align: right;
}

#header .mbtn i {
    font-size: 23px;
    padding: 5px;
    background: #17633d;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}