* {
    /* outline: 1px solid #f00; */
    --mc: #17633d;
    --bg: rgba(23,99,61,0.1)
}

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');


.container {
    width: 1200px;
    margin: 0 auto;
}



#header {
    line-height: 100px;
}

#header .container {
    display: flex;
    justify-content: space-between;
}

#header h1 {
    width: 80px;
}

#header nav>ul {
    display: flex;
    gap: 40px;
    font-family: 'Bowlby One', cursive;
    font-size: 21px;
}

#header nav>ul a {
    display: block;
}

#header .mbtn {
    width: 80px;
    text-align: right;
}

#header .mbtn i {
    font-size: 21px;
    padding: 5px;
    background: var(--mc);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}



img {
    max-width: 100%;
}

.main_slider figure {
    position: relative;
    height: 600px;
}

.main_slider .main01 {
    background: url(../img/main02.jpg) no-repeat center center/cover;
}

.main_slider .main02 {
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.main_slider .slogan {
    width: 1200px;
    color: #fff;
}

.main_slider .main01 .slogan {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
}

.main_slider .main02 .slogan {
    position: absolute;
    top: 50%;
    left: calc((100% - 1200px) / 2);
    transform: translateY(-50%);
    text-align: end;
    text-shadow: 0 0 0.5;
}

.main_slider .slogan h2 {
    font-family: 'Bowlby One', cursive;
    font-style: oblique;
    font-size: 50px;
    letter-spacing: 0.1em;
    margin: 0 0 10px 0;
    padding-right: 5px;
}

.main_slider .slogan p {
    font-size: 20px;
}


.main_visual .main_button {
    position: relative;
}

.main_button .green_btn {
    position: absolute;
    top: -40px;
    display: flex;
    width: 1200px;
    background: var(--mc);
    border-radius: 20px;
    color: #fff;
    font-size: 21px;
    z-index: 999;
}

.main_button .green_btn>li {
    flex: 1;
    text-align: center;
}

.main_button .green_btn>li~li {
    border-left: 1px solid #1d7b4c;
}

.main_button .green_btn>li>a {
    display: block;
    line-height: 80px;
}

.main_button .green_btn>li:hover a {
    background: #fff;
    color: var(--mc);
}

.main_button .green_btn>li:nth-child(1):hover a {
    border-radius: 20px 0 0 20px;
}

.main_button .green_btn>li:nth-child(3):hover a {
    border-radius: 0 20px 20px 0;
}



.main_menu {
    position: relative;
    padding: 100px 0 0 0;
}

.main_menu .menu_arrows i {
    position: absolute;
    inset: 500px 200px auto auto;
    padding: 10px;
    border: 1px solid #333;
    font-size: 20px;
    cursor: pointer;
}

.main_menu .menu_arrows i:nth-child(1) {
    margin: 0 58px 0 0;
}

.main_menu .menu_title {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Bowlby One', cursive;
    font-size: 30px;
}

.main_menu .menu_title span {
    display: block;
    font-size: 39px;
}

.main_menu .menu_title:nth-child(2) span {
    font-size: 45px;
}

.main_menu .title_new {
    margin: 0 0 0 -700px;
}

.main_menu .title_hot {
    margin: 0 0 0 700px;
}




.main_menu img {
    width: 250px;
}

.main_menu .container {
    display: flex;
}

.main_menu .container figure:hover img {
    transform: scale(1.15);
    transition: 0.5s;
}

.main_menu .new_menu {
    flex: 1;
    border-right: 1px solid;
    border-image: linear-gradient(to top, #fff 10%, #65977e, #fff 90%);
    border-image-slice: 1;
}

.main_menu .new_menu figure:nth-child(1) {
    margin: 0 0 50px 0;
}

.main_menu .hot_menu {
    flex: 2;
    width: 800px;
}

.main_menu .hot_menu img {
    margin-left: 75px;
}

.main_menu .hot_menu .menu_top {
    display: flex;
}

.main_menu .menu_top .slick-slide {
    margin: 0 0 50px 0;
}

.main_menu .hot_menu .menu_bottom {
    display: flex;
}

.main_menu .menu_bottom .slick-slide {
    margin: 0 0 100px 0;
}

.main_menu figure {
    text-align: center;
}

.main_menu b {
    display: block;
    font-weight: 500;
    margin: 0 0 5px 0;
}

.main_menu strong {
    font-size: 14px;
    font-weight: 500;
    color: var(--mc);
}




.main_vegan .vegan_slider figure {
    display: flex;
}

.main_vegan .vegan_slider .vegan_img {
    text-align: right;
    background: var(--bg);
    border-radius: 0 50% 50% 0;
}

@keyframes vegan_move {
    to {
        transform: rotate(360deg);
    }
}

.main_vegan .vegan_slider img {
    width: 600px;
    animation: vegan_move 60s infinite linear;
}

.main_vegan .vegan_slider .vegan_bg {
    width: calc((100% - 1200px) / 2);
    background: var(--bg);
} 

.main_vegan .vegan_slider .vegan_text {
    padding: 70px 0 0 180px;
}

.main_vegan .vegan_slider .vegan_text h2 {
    font-family: 'Bowlby One', cursive;
    font-size: 30px;
    margin: 0 0 60px 70px;
}

.main_vegan .vegan_slider .vegan_text h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--mc);
    margin: 0 0 10px 0;
}

.main_vegan .vegan_slider .vegan_text p {
    font-size: 18px;
    margin: 0 0 50px 0;
    line-height: 1.2;
}

.main_vegan .vegan_slider .vegan_text h4 {
    display: block;
    font-weight: 700;
    color: var(--mc);
    margin: 0 0 10px 0;
}

.main_vegan .vegan_slider .vegan_text em {
    display: block;
    font-style: normal;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
    line-height: 1.2;
}

.main_vegan .vegan_slider .slick-dots li {
    position: absolute;
    inset: 50% 0 0 52%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--bg);
    cursor: pointer;
}

.main_vegan .vegan_slider .slick-dots li:nth-child(1) {
    margin: -30px 0 0 0;
}
.main_vegan .vegan_slider .slick-dots li:nth-child(2) {
    margin: 30px 0 0 0;
}

.main_vegan .vegan_slider li.slick-active {
    background: var(--mc);
}

.main_vegan .vegan_slider .slick-dots button {
    display: none;
}



.main_farm .container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.main_farm .salady_kitchen img {
    margin: 0 0 10px 0;
    filter: brightness(1.5);
}

.main_farm .salady_kitchen img:hover {
    filter: brightness(1);
}

.main_farm .salady_farm img {
    filter: brightness(1.2);
}

.main_farm .salady_farm img:hover {
    filter: brightness(1)
}

.main_farm figure h2 {
    font-family: 'Bowlby One', cursive;
    font-size: 30px;
}

.main_farm .salady_farm h2 {
    position: absolute;
    inset: 562px 0 0 0;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}

/* .main_farm .salady_kitchen p {
    position: absolute;
    top: 155px;
    left: 150px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 1.3;
}

.main_farm .salady_farm p {
    position: absolute;
    top: 280px;
    left: 35px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 1.3;
} */



.main_banner {
    width: 100%;
    background: url(../img/salady_banner.jpg) no-repeat center left/cover;
    text-align: center;
    line-height: 250px;
    color: #fff;
    font-family: 'Bowlby One', cursive;
    font-size: 35px;
}



.main_infomation {
    padding: 100px 0;
}

.main_infomation h2 {
    font-family: 'Bowlby One', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0 0 60px 0;
}

.main_infomation ul {
    display: flex;
    justify-content: space-between;
}

.main_infomation ul>li img {
    width: 120px;
    margin: 0 0 30px 0;
}

.main_infomation ul>li p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.main_infomation ul>li>a {
    display: block;
    padding: 30px 65px;
    border: 3px solid var(--bg);
}

.main_infomation ul>li:hover a {
    border: none;
    box-shadow: 1px 1px 5px 5px var(--bg) inset;
}



.main_instagram {
    position: relative;
    padding: 100px 0;
    background: var(--bg);
}

.main_instagram h2 {
    position: absolute;
    top: 33px;
    left: 250px;
    font-family: 'Bowlby One', cursive;
    font-size: 30px;
    line-height: 1.2;
    text-align: right;
    transform: rotate(-90deg);
    transform-origin: right bottom;
}

.main_instagram .container {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 30px;
    justify-content: end;
}

.main_instagram .insta03 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    overflow: hidden;
}

.main_instagram .insta03 img {
    min-width: 200%;
    height: 100%;
}



#footer {
    background: var(--mc);
}

#footer .ft_top {
    border-bottom: 1px solid #65977e;
}

#footer .ft_top .container {
    display: flex;
    line-height: 80px;
    justify-content: space-between;
}

#footer .ft_top h1 {
    width: 50px;
}

#footer .ft_top dl {
    display: flex;
    gap: 40px;
    color: #fff;
}

#footer .ft_top dl>dt {
    font-weight: 500;
}

#footer .ft_top .sns {
    width: 374.42px;
    text-align: right;
    font-size: 26px;
    color: #fff;
}

#footer .ft_top .sns a:nth-child(2) {
    margin: 0 0 0 8px;
}

#footer .ft_bottom {
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}