body {
    background: #333;
}

nav {
    position: fixed;
    /* 스크롤 X */
    top: 0;
    left: -500px;
    width: 500px;
    height: 100vh;
    /* viewport height */
    background: #fff;
    transition: 0.5s;
    /* transform과 헷갈림 주의 ! */
}

nav li {
    padding: 50px 0 0 40px;
}

nav li a {
    font-weight: bolder;
    color: rgb(51, 117, 112);
}

nav.on {
    left:0;
}

.mopen {
    position: fixed;
    /* 그 자리에 고정 */
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background: #ddd;
}

.mopen span {
    position: absolute;
    left: 5px;
    right: 5px;
    /* width는 auto */
    height: 3px;
    background: #fff;
    transition: 0.5s;
}

.mopen span:nth-child(1) {
    top: 5px;
}
.mopen.on span:nth-child(1) {
    opacity: 0;
    /* display: none;
    수치(중간단계)가 없으면 애니메이션 적용 X */
}

.mopen span:nth-child(2) {
    top: 13px;
}
.mopen.on span:nth-child(2) {
    transform: rotate(45deg);
}

.mopen span:nth-child(3) {
    top: 13px;
}
.mopen.on span:nth-child(3) {
    transform: rotate(-45deg);
}

.mopen span:nth-child(4) {
    bottom: 5px;
}
.mopen.on span:nth-child(4) {
    opacity: 0;
    /* display: none; */
}