/* * {
    outline: 1px solid #f00;
} */
/* 임시 아웃라인 */

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 17px;
    z-index: 999;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#header .container {
    display: flex;
}

#header h1 img:nth-child(1) {
    width: 55px;
}

#header h1 img:nth-child(2) {
    width: 290px;
    padding: 0 0 0 15px;
}

#header nav {
    margin: 0 0 0 auto;
}

#header nav>ul {
    display: flex;
    gap: 40px;
}

#header nav>ul>a {
    display: block;
}

#header .btn {
    margin: 0 0 0 40px;
    font-size: 23px;
    cursor: pointer;
}




#header nav>ul>li {
    position: relative;
}

#header nav>ul>li ul {
    position: absolute;
    inset: 100px 0 0 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #333;
    z-index: 999;
    width: 95px;
    height: 0;
    line-height: 40px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    font-size: 14px;
}

#header nav>ul>li ul>li:nth-child(1) {
    padding: 10px 0 0 0;
}

#header nav>ul:hover>li ul {
    height: 200px;
}

#header nav>ul::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 999;
    transition: 0.5s;
}

#header nav>ul:hover::before {
    height: 220px;
}





img {
    max-width: 100%;
}

.mainVisual {
    position: relative;
}

.mainVisual .mainSlider figure {
    position: relative;
    height: 900px;
}

.mainVisual .mainSlider .main01 {
    background: url(../img/main01.png) no-repeat top left/cover;
}

.mainVisual .mainSlider .main02 {
    background: url(../img/main02.jpg) no-repeat top left/cover;
}

.mainVisual .mainSlider .main03 {
    background: url(../img/main03.png) no-repeat top left/cover;
}

.mainVisual .mainSlider .slogan {
    width: 1200px;
    color: #fff;
    letter-spacing: -0.025em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .mainSlider .main03 .slogan {
    text-shadow: 1px 1px 1px #999;
}

.mainVisual .mainSlider .slogan h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.mainVisual .mainSlider .slogan p {
    font-size: 20px;
    line-height: 1.4;
}


#main {
    position: relative;
}

.mainVisual .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    width: 1200px;
}

.mainVisual .slick-dots li {
    display: inline-block;
    width: 33.33%;
    height: 6px;
    background: rgba(0, 0, 0, 0.3);
}

.mainVisual .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: #da2128;
    opacity: 0.8;
}

.mainVisual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.mainVisual .slick-dots li button {
    display: none;
}




.mainBusiness {
    padding: 100px 0;
}

.mainBusiness .container {
    display: flex;
}

.mainBusiness figure:hover {
    cursor: pointer;
}

.mainBusiness .bnLeft_left {
    margin: 0 30px 0 0;
}

.mainBusiness .bnLeft_left figure {
    position: relative;
}

.mainBusiness .bnLeft_left figure b {
    position: absolute;
    inset: -8px 0 0 -4px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

.mainBusiness .bnLeft_left figure:nth-child(1) {
    margin: 0 0 30px 0;
}

.mainBusiness .bnLeft_right {
    margin: 0 30px 0 0;
}

.mainBusiness .bnLeft_right figure {
    position: relative;
}

.mainBusiness .bnLeft_right figure b {
    position: absolute;
    inset: auto -4px -4px auto;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}



.mainBusiness .bnLeft_right figure:nth-child(1) {
    margin: 0 0 30px 0;
}

.mainBusiness .bnLeft_left figure:nth-child(1):hover b {
    font-size: 100px;
    inset: 50% auto auto -5%;
    transform: translateY(-50%);
    transition: 1s;
}

.mainBusiness .bnLeft_left figure:nth-child(2):hover b {
    font-size: 55px;
    inset: 50% auto auto -2%;
    transform: translateY(-50%);
    transition: 0.8s;
}

.mainBusiness .bnLeft_right figure:nth-child(1):hover b {
    font-size: 63px;
    inset: auto -2% 50% auto;
    transform: translateY(50%);
    transition: 0.8s;
}

.mainBusiness .bnLeft_right figure:nth-child(2):hover b {
    font-size: 110px;
    inset: auto -2% 50% auto;
    transform: translateY(50%);
    transition: 1s;
}


.mainBusiness .bnRight {
    flex: 1;
    text-align: end;
}

.mainBusiness .bnRight h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 100px 0 0 0;
    margin: 0 0 10px 0;
}

.mainBusiness .bnRight p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0 0 75px 0;
}

.mainBusiness .bnRight ul>li {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 30px 0;
}


.mainBusiness .bnRight ul>li>i {
    padding: 0 10px 0 0;
    color: #da2128;
    display: none;
}

.mainBusiness .bnRight ul>li:hover i {
    display: block;
}





.mainFuture {
    padding: 100px 0;
    text-align: center;
    background: #f3f3f3;
}

.mainFuture .container h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.mainFuture .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.mainFuture .futureContent {
    display: flex;
}

.mainFuture .futureContent figure {
    position: relative;
    flex: 1;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
}

.mainFuture .futureContent figure~figure::before {
    content: "";
    position: absolute;
    inset: 50% 0 0 0;
    transform: translate(-50%, -50%);
    width: 0.1px;
    height: 250px;
    background: #dddddd;
}

.mainFuture .futureContent .futureImg {
    line-height: 222px;
}

.mainFuture .futureContent h3 {
    font-size: 21px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.mainFuture .futureContent strong {
    font-size: 16px;
    line-height: 1.5;
}

.mainFuture .moreView a {
    display: inline-block;
    font-weight: 200;
    padding: 13px 40px 15px;
    border: 1px solid #333;
}

.mainFuture .moreView a:hover {
    background: #333;
    color: #fff;
    transition: 0.3s;
}



.mainNews {
    padding: 100px 0;
}

.mainNews .container {
    display: flex;
}

.mainNews .newsRoom {
    position: relative;
    width: 278px;
}

.mainNews .newsRoom h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.mainNews .newsRoom p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 15px 0;
    line-height: 1.25;
}

.mainNews .newsRoom a {
    font-size: 12px;
    color: #da2128;
    border: 1px solid #da2128;
    padding: 1px 7px 3px 5px;
}

.mainNews .newsRoom i {
    vertical-align: -15%;
}

.mainNews .newsRoom .newsArrow i {
    position: absolute;
    inset: auto auto 0 0;
    padding: 10px;
    border: 1px solid #333;
    font-size: 20px;
    cursor: pointer;
}

.mainNews .newsRoom .newsArrow i:nth-child(2) {
    transform: translateX(50px);
}

.mainNews .newsSlider {
    width: 893px;
}

.mainNews .container h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0 0 0 43px;
}

.mainNews .newsSlider .news01,
.news02,
.news03,
.news04 {
    position: relative;
    height: 220px;
}

.mainNews .container span {
    position: absolute;
    inset: auto auto 43px 43px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.mainNews .news01::before,
.news02::before,
.news03::before,
.news04::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #000;
    margin: 0 0 33px 43px;
}





.mainFixed {
    position: relative;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/fixed.jpg) no-repeat fixed center center/cover;
    height: 680px;
}

.mainFixed h2 {
    margin: 0 0 40px 0;
    font-size: 50px;
    font-weight: 700;
}

.mainFixed p {
    margin: 0 0 20px 0;
    font-size: 38px;
    font-weight: 700;
}

.mainFixed a {
    display: inline-block;
    font-weight: 200;
    padding: 10px;
    padding: 13px 40px 15px;
    border: 1px solid #fff;
}

.mainFixed .villiv {
    position: absolute;
    inset: auto auto -3% 50%;
    transform: translateX(-50%);
    font-size: 185px;
    font-weight: 800;
    letter-spacing: -0.01em;
}

.mainFixed a:hover {
    background: #fff;
    color: #333;
    transition: 0.3s;
}





.mainSocial {
    position: relative;
    padding: 200px 0 150px;
}

.mainSocial .inner {
    position: absolute;
    inset: 0 0 0 0;
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0 0 0;
    text-align: right;
}

.mainSocial .socialTitle h2 {
    margin: 0 0 10px 0;
    font-size: 30px;
    font-weight: 700;
}

.mainSocial .socialTitle p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
}

.mainSocial .socialTitle::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: #000;
    margin: 0 0 30px auto;
}

.mainSocial .container {
    display: flex;
    width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
}

.mainSocial .socialLeft {
    width: 510px;
    /* overflow: hidden; */
    position: relative;
}


.mainSocial .socialBox .titleSlider {
    position: absolute;
    bottom: -50px;
    left: 110px;
    width: 330px;
    height: 220px;
    background: #fff;
    box-shadow: 5px 5px 20px #ddd;
}

.mainSocial .socialBox .titleSlider>div {
    padding: 25px 0 0 25px;
}

.mainSocial .socialBox .titleSlider h6 {
    margin: 0 0 10px 0;
}

.mainSocial .socialBox .titleSlider h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.mainSocial .socialBox .titleSlider a {
    font-size: 12px;
    color: #da2128;
    border: 1px solid #da2128;
    padding: 1px 7px 3px 5px;
}

.mainSocial .socialBox .titleSlider i {
    vertical-align: -15%;
}

.mainSocial .socialBox .titleSlider .title01,
.title02,
.title03,
.title04,
.title05 {
    position: relative;
    height: 195px;
}

.mainSocial .socialBox .titleSlider span {
    position: absolute;
    inset: auto 25px 25px auto;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}


.mainSocial .socialRight {
    width: calc(100% - 510px);
    overflow: hidden;
}

.mainSocial .socialRight .rightSlider {
    width: 1200px;
}

.mainSocial .socialRight figure {
    padding: 100px 80px 0 0;
}

.mainSocial .socialArrow i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, 0);
    font-size: 120px;
    color: #f3f3f3;
    cursor: pointer;
}

.mainSocial .socialArrow i:nth-child(1) {
    margin: 0 0 0 -40%;
}

.mainSocial .socialArrow i:nth-child(2) {
    margin: 0 0 0 40%;
    opacity: 60%;
}









#footer {
    background: #333;
    color: #fff;
}

#footer .top {
    line-height: 100px;
    border-bottom: 1px solid #444;
}

#footer .top .container {
    display: flex;
    justify-content: space-between;
}

#footer .top h1 img:nth-child(1) {
    width: 40px;
}

#footer .top h1 img:nth-child(2) {
    width: 275px;
    padding: 0 0 0 15px;
}

#footer .top dl {
    margin-right: -200px;
    font-size: 15px;
}

#footer .top dd {
    display: inline-block;
}

#footer .top dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 12px;
    background: #666;
}


#footer .top select {
    font-size: 14px;
    background: transparent;
    color: #fff;
    padding: 5px 0 5px 3px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

#footer .top option {
    background: #333;
}



#footer .bottom .container {
    display: flex;
    justify-content: space-between;
}

#footer .bottom .copyright {
    padding: 30px 0 0 0;
    font-size: 13px;
}

#footer .bottom dl {
    margin: 0 0 37px 0;
}

#footer .bottom dd {
    display: inline-block;
}

#footer .bottom dd~dd::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 10px;
    background: #666;
}

#footer .bottom address {
    font-style: normal;
    font-weight: 500;
    margin: 0 0 10px 0;
}

#footer .bottom address a~a::before {
    content: "";
    display: inline-block;
    margin: 0 15px;
    width: 1px;
    height: 10px;
    background: #666;
}

#footer .bottom .sns {
    line-height: 150px;
    font-size: 36px;
}

#footer .bottom .sns a:nth-child(1) {
    font-size: 32px;
}