* {
    /* outline: 1px solid #f00; */
    --mc: #0d2645;
    --pc: #cbdbf5;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}




.Header {
    background: var(--mc);
    color: #fff;
}

.hdTop {
    font-size: 12px;
    font-weight: 300;
    line-height: 40px;
    border-bottom: 1px solid #29405f;
}

.hdTop .container {
    justify-content: space-between;
}

.hdTop ul {
    display: flex;
}

.hdTop ul>li~li {
    padding: 0 0 0 15px;
}

.hdTop ul>li~li a::before {
    display: inline-block;
    ;
    content: "";
    width: 1px;
    height: 11px;
    background: #29405f;
    margin-right: 15px;
}

.hdBottom {
    font-size: 14px;
    font-weight: 800;
    line-height: 110px;
}

.hdBottom .container {
    justify-content: space-between;
}

.hdBottom h1 {
    width: 60px;
}

.hdBottom nav ul {
    display: flex;
}

.hdBottom nav ul>li {
    padding: 0 20px;
}

.hdBottom nav ul>li:last-child {
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1)
}





.MainVisual .mainSlider figure {
    height: 700px;
}

.MainVisual .mainSlider .main01 {
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.MainVisual .mainSlider .main02 {
    background: url(../img/main02.jpg) no-repeat center center/cover;
}

.MainVisual .mainSlider .main03 {
    background: url(../img/main03.jpg) no-repeat center top/cover;
}




.MainAbout {
    position: relative;
    display: flex;
    padding: 100px 0;
}

.MainAbout .aboutBg {
    position: absolute;
    bottom: 0;
    left: -120px;
    opacity: 0.03;
    z-index: -1;
}

.aboutSlider .swiper-pagination {
    position: absolute;
    top: 60%;
    right: 48.5%;
    transform: translateY(-50%) rotate(90deg);
}

.aboutSlider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid var(--pc);
    opacity: 1;
}

.aboutSlider .swiper-pagination-bullet-active {
    background: var(--pc);
}

.MainAbout .aboutTxt {
    position: relative;
    flex: 1;
}

.aboutTxt .innerTxt {
    position: absolute;
    top: 50%;
    left: calc(100% - 600px);
    transform: translateY(-50%);
}

.aboutTxt strong {
    display: block;
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.aboutTxt h2 {
    margin: 0 0 30px 0;
}

.aboutTxt p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45;
}

.aboutSlider {
    flex: 1;
    overflow-x: hidden;
}

.aboutSlider figure {
    height: 100%;
    border-radius: 150px 0 0 0;
    overflow: hidden;
}

.aboutSlider figure img {
    width: 600px;
}





.MainRooms {
    padding: 0 0 100px 0;
    text-align: center;
    overflow-x: hidden;
}

.MainRooms h2 {
    margin: 0 0 10px 0;
}

.MainRooms p {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 30px 0;
}


.MainRooms .roomSlider {
    /* transform: translateX(-100px); */
}

.MainRooms .roomSlider .swiper-wrapper .swiper-slide img {
    width: 1200px;
}